##############################################################################################
#
# GitHub Actions configuration file
# 
# Set the required secrets in the build settings of the project:
#   - PACKAGECLOUD_USER
#   - PACKAGECLOUD_KEY
#
##############################################################################################
name: build

on: [pull_request, push]

env:
  PACKAGE_NAME: deb-builder-packagecloud
  LICENSE: LGPL-2.1
  VERSION: 0.2
  ARCH: noarch
  AUTHOR: zlig
  DESCRIPTION: "Sample Debian package built with GitHub Actions"
  REPO_NAME: debs
  DISTRIBUTION: ubuntu/bionic

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Export variables containing versions and filename
        run: |
          echo "RELEASE_VERSION=$VERSION"                                               >> $GITHUB_ENV
          echo "BUILD_VERSION=$VERSION.$GITHUB_RUN_NUMBER"                              >> $GITHUB_ENV
          echo "BUILD_DATE=$(date '+%Y%m%d')"                                           >> $GITHUB_ENV
          echo "ARTIFACT_NAME=$PACKAGE_NAME-$VERSION.$GITHUB_RUN_NUMBER_$ARCH.deb"      >> $GITHUB_ENV

      - name: Replace version and build number with the Debian control file
        run: |
          sed -i "s/__VERSION__/$BUILD_VERSION/g" $PACKAGE_NAME/DEBIAN/control
          sed -i "s/__DATE__/$BUILD_DATE/g" $PACKAGE_NAME/DEBIAN/control

      - name: Build the Debian package
        run: |
          dpkg-deb --build $PACKAGE_NAME 
          mv $PACKAGE_NAME.deb $ARTIFACT_NAME

      - name: Output detail on the resulting package for debugging purpose
        run: |
          ls -l $ARTIFACT_NAME
          dpkg --contents $ARTIFACT_NAME
          md5sum $ARTIFACT_NAME
          sha256sum $ARTIFACT_NAME
          export LOCAL_SHA256=$( sha256sum $ARTIFACT_NAME | cut -d " " -f1 )

      - name: Upload artifacts to share data between jobs
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }}
          path: "*.deb"

